{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        {% for i in books %}
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
            <div class="card" style="width: 18rem;">
                <img src="https://image.shutterstock.com/image-vector/book-logo-260nw-560037460.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><center>{{i[1]}}</center></h5>
                  <p class="card-text">Author : {{i[2]}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Category : {{i[3]}}</li>
                  <li class="list-group-item">price : {{i[4]}}</li>
                  <li class="list-group-item">Publisher : {{i[5]}}</li>
                </ul>

              </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}